html, body, h1 {
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
  background-color: #090909;
  color: #ffffff;
}

.App, button {
  font-family: "YouSheBiaoTiHei";
}